@model PUAM_1.Models.Inscripcion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscripcion</title>
</head>
<body>

<h4>Inscripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Inscripcion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="CedulaAdulto" class="control-label"></label>
                    <input asp-for="CedulaAdulto" class="form-control" placeholder="Cédula de Adulto" />
                    <span asp-validation-for="CedulaAdulto" class="text-danger"></span>     
            </div>
            <div class="form-group">
                    <label asp-for="IdClase" class="control-label"></label>
                    <select asp-for="IdClase" class="form-control" asp-items="ViewBag.NombreClase"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Inscribirse</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
